<%- include('../includes/head.ejs') %>

</head>

<body>
    <div class="page-wrapper chiller-theme toggled">
  <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
    <i class=" fa fa-bars"></i>
  </a>
  <%- include('../includes/sidebar.ejs') %>
  <!-- sidebar-wrapper  -->
<style>

</style>
  <main class="page-content">
      <%- include('../includes/navbar.ejs') %>
      <div class="container-fluid">
        <p>
         
        </p>
             <section class="row">
                <div class="card" style="width:100%">
                    <div class="card-header">
                      Activity Data
                    </div>
                    <div class="card-body">
                      <div class="table-responsive">
                        <table class="table">
                          <thead>
                              <tr>
                                  <th class="text-center">#</th>
                                  <th>Activity Name</th>
                                  <th>Manpower</th>
                                  <th>Time Taken</th>
                                  <th>Location</th>
                                  <th>Created At</th>
                              </tr>
                          </thead>
                          <tbody>
                           
                                   <tr>
                                      <h5  class="text-center"><span class="badge badge-success">23 Des 2019</span></h5>
                                   </tr>
                                     <% for(var i=0; i<data.length;i++) { %>
                                       
                                             <tr>
                                                     <td class="text-center"> <%= i+1 %></td>
                                                     <td> <a href="/dephead/viewActivity:<%= data[i]._id %>"><%= data[i].activityType.activityName %></a></td>
                                                     <td><%= data[i].manpower %></td>
                                                     <td><%= data[i].timeTaken %></td>
                                                    
                                                     <td><%= data[i].created_at %></td>
                                             </tr>
                                             
                                       
                                     <% } } else {%>
                                        <tr> <td class="text-center">No Record</td></tr>
                                     <% }%>
                                     
                          </tbody>
                      </table>
                      </div>
                    </div>
                  </div>
          </section>
      </div>
          
          
        
        </main>
  <!-- page-content" -->
</div>
<!-- page-wrapper -->
<%- include('../includes/end.ejs') %>
